<div class="footer-bg-wrap">
	<div class="footer-pg-wrap">
		<section class="pagination">
			<div class="top-btn">
				<a href="#top" ><p class="page-top"></p></a>
			</div>
			<div class="other-btns">
				<a href="/projects/<%= previous %>" class="prev-btn"></a>
				<h3>Where to?</h3>
				<a href="/projects/<%= next %>" class="next-btn"></a>
			</div>
		</section>
		<footer>
			<section id="contact">
					<h1>Contact</h1>
				<article id="email-phone">
					<a href="mailto:hello@incrediblemachines.net"><p>hello <span class="yellow">[at]</span> incrediblemachines <span class="yellow">.</span> net</p></a>
					<p><span class="yellow">+</span> 1 <span class="yellow">.</span> 347 <span class="yellow">.</span> 689 <span class="yellow">.</span> 5355</p>
				</article>
				<article id="address">
					<p>67 West Street <span class="yellow">.</span> #413 <span class="yellow">.</span> Brooklyn, New York <span class="yellow">.</span> 11222</p>
				</article>
			</section>
	<section id="strip">
				<div id="copyright">	
					<p>© Incredible Machines 2013
					<a href="/reel" id="reel">Watch Our Reel</a>
					<a href="http://eepurl.com/FPkej" target="_blank" id="mailing">Join Our Mailing List</a></p>
				</div>
				<div id="social-btns">
					<a href="https://twitter.com/incmachines" target="_blank"><i class="icon-twitter-sign icon-2x icon-light"></i></a>
					<a href="https://www.facebook.com/pages/Incredible-Machines/544593845580572" target="_blank"><i class="icon-facebook-sign icon-2x icon-light"></i></a>
					<a href="https://plus.google.com/u/1/112959679886748308366/" target="_blank"><i class="icon-google-plus-sign icon-2x icon-light"></i></a>
					<a href="https://vimeo.com/incrediblemachines" target="_blank"><i class="icon-vimeo-sign icon-2x icon-light"></i></a>
				</div>
			</section>
		</footer>
	</div>
</div>