	<div class="footer-bg-wrap">
		<footer name="contact">
			<section id="contact">
					<h1>Contact</h1>
				<article id="email-phone">
					<a href="mailto:hello@incrediblemachines.net"><p>hello <span class="yellow">[at]</span> incrediblemachines <span class="yellow">.</span> net</p></a>
					<p><span class="yellow">+</span> 1 <span class="yellow">.</span> 347 <span class="yellow">.</span> 689 <span class="yellow">.</span> 5355</p>
				</article>
				<article id="address">
					<p>67 West Street <span class="yellow">.</span> #413 <span class="yellow">.</span> Brooklyn, New York <span class="yellow">.</span> 11222</p>
				</article>
			</section>
			<section id="strip">
				<div id="copyright">	
					<p>© Incredible Machines 2013</p>
					<p>|</p>
					<p id="reel">Watch Our Reel  ›</p>
				</div>
				<div id="social-btns">
					<a href="https://twitter.com/incmachines"><i class="icon-twitter-sign icon-2x icon-light"></i></a>
					<a href="https://www.facebook.com/pages/Incredible-Machines/544593845580572"><i class="icon-facebook-sign icon-2x icon-light"></i></a>
					<a href="#"><i class="icon-google-plus-sign icon-2x icon-light"></i></a>
				</div>
			</section>
		</footer>
	</div>

