<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/main.js"> </script>
  </head>
  <body class="<%= slug %>">
  	<header> 
  		<ul> 
  		<li><a href="/">Home</a></li>
  		<li><a href="/projects">Featured Work</a></li>
  		<li><a href="/capabilities">Capabilities</a></li>
  		<li><a href="/clients">Clients</a></li>
  		<li><a href="#contact">Contact</a></li>
  		</ul>
  	</header>