<% include includes/header %>
	<div class="page404">
		<p>Thanks for checking out our error message page!</p>
		<p>We call this one:</p>
    		<h1>"<%= title %>"</h1>
    		<p>Why not <a href="/projects">check out our work</a> instead?</p>
	</div>
<% include includes/footer %>