<% include includes/header %>
	<div class="page500">
    	<p><%= title %></p>
    	<br>
    	<br>
    	<p>Don't mess with us. I already have too many troubles.</p>
    </div>
<% include includes/footer %>