<% include includes/header %>
	<div class="page500">
		<p>Don't take this the wrong way, but</p>
		<h1>"<%= title %>"</h1>
		<p>Why not <a href="/projects">check out our work</a> instead?</p>
	</div>
<% include includes/footer %>