<% include includes/header %>
<h1><%= title %></h1>
<form method="post" action="/login">
	<input type="text" placeholder="Enter Username" name="user"/>
	<input type="password" placeholder="Enter Password" name="pw"/>
	<button type="submit">Login</button>
</form>
<% include includes/footer %>