<% include includes/header %>
<div class="login">
	<section class="login-form-wrap">
		<h3><%= title %></h3>
		 <section class="login-form">
			<form method="post" action="<%= post_path %>">
				<input type="text" class="field" placeholder="Enter Username" name="user"/>
				<input type="password" class="field" placeholder="Enter Password" name="pw"/>
				<% if(typeof path != 'undefined'){ %>
					<input type="hidden" class="field" name="path" value="<%= path %>">
				<% } %>
				<button type="submit">Login</button>
			</form>
		</section>
	</section>
</div>
<% include includes/footer %>