<% include includes/header %>

<!-- ABOUT US -->
	<section id="about">
		<article class="about-text">
			<p class="bold">Incredible Machines are artists and technologists who create immersive landscapes for social interaction.</p>
			<p>We make magic with a unique blend of storytelling, code, and performance. The experiences we create transport audiences to new places through cutting-edge technology, strong narrative sensibility, and a healthy dose of fun.</p>
		</article>
	</section>
	
<!-- CAPABILITIES -->
<div id="skills-section">
	<section id="skills">
			<ul>
				<% for(var i = 0; i< capabilities.length; i++){ %>
					<li><a href="#<%=makeSlug(capabilities[i].name)%>"> <%= capabilities[i].name %></a></li>
				<% } %>
			</ul>
	</section>
	
	<div id="about-skills">	

		<% for(var i = 0; i< capabilities.length; i++){ %>
		<section class="about-skill" id="<%=makeSlug(capabilities[i].name)%>">
				<article class="skill-blurb">
					<p><%= capabilities[i].text %></p>
				</article>

<!---  MAKE DYNAMIC ONCE PROJECT INFO IS LOADED HERE -->
			<article class="related-work">
				<div class="title">
					<h3>Projects</h3>
				</div>
				<div class="work-thumbs">
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
				</div>
			</article>
			<article class="related-clients">
				<div class="title">
					<h3>Clients</h3>
				</div>
				<div class="client-list">
					<ul>
						<li><a href="#">Client Name  ›</a></li>
						<li><a href="#">Another Client ›</a></li>
						<li><a href="#">Client McClientson ›</a></li>
					</ul>
				</div>
			</article>
		</section>
		<% } %>
	</div>



	<% include includes/footer %>
	</div>
		
	<% function makeSlug(Text)
{
    return Text.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
}
%>

    <script src="../../javascripts/capabilities.js"></script>

</body>
</html>