<% include includes/header %>

<!-- ABOUT US -->
	<section id="about">
		<article class="about-text">
			<p class="bold">Incredible Machines are artists and technologists who create immersive landscapes for social interaction.</p>
			<p>We make magic with a unique blend of storytelling, code, and performance. The experiences we create transport audiences to new places through cutting-edge technology, strong narrative sensibility, and a healthy dose of fun.</p>
		</article>
	</section>
	
<!-- CAPABILITIES -->
<div id="skills-section">
	<section id="skills">
			<ul>
				<li><a href="#technology-development">Technology Development</a></li>
				<li><a href="#innovation-consulting">Innovation Consulting</a></li>
				<li><a href="#creative-direction">Creative Direction</a></li>
				<li><a href="#visual-design">Visual Design</a></li>
				<li><a href="#motion-graphics">Motion Graphics</a></li>
				<li><a href="#event-production">Event Production</a></li>
			</ul>
	</section>
	
	<div id="about-skills">	
		<section class="about-skill" id="technology-development">
			<article class="skill-blurb">
				<p>Bacon ipsum dolor sit amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
				<p>Bacon ipsum dolor sit amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
			</article>
			<article class="related-work">
				<div class="title">
					<h3>Projects</h3>
				</div>
				<div class="work-thumbs">
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
				</div>
			</article>
			<article class="related-clients">
				<div class="title">
					<h3>Clients</h3>
				</div>
				<div class="client-list">
					<ul>
						<li><a href="#">Client Name  ›</a></li>
						<li><a href="#">Another Client ›</a></li>
						<li><a href="#">Client McClientson ›</a></li>
					</ul>
				</div>
			</article>
		</section>
		
		<section class="about-skill" id="innovation-consulting">
			<article class="skill-blurb">
				<p>TEST 2 amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
				<p>Bacon ipsum dolor sit amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
			</article>
			<article class="related-work">
				<div class="title">
					<h3>Projects</h3>
				</div>
				<div class="work-thumbs">
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
				</div>
			</article>
			<article class="related-clients">
				<div class="title">
					<h3>Clients</h3>
				</div>
				<div class="client-list">
					<ul>
						<li><a href="#">Client Name  ›</a></li>
						<li><a href="#">Another Client ›</a></li>
						<li><a href="#">Client McClientson ›</a></li>
					</ul>
				</div>
			</article>
		</section>
		
		<section class="about-skill" id="creative-direction">
			<article class="skill-blurb">
				<p>TEST 3 amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
				<p>Bacon ipsum dolor sit amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
			</article>
			<article class="related-work">
				<div class="title">
					<h3>Projects</h3>
				</div>
				<div class="work-thumbs">
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
					<div class="project">
						<img src="images/related_work_thumb.png" alt="Project Name" />
						<a>Project Title ›</a>
					</div>
				</div>
			</article>
			<article class="related-clients">
				<div class="title">
					<h3>Clients</h3>
				</div>
				<div class="client-list">
					<ul>
						<li><a href="#">Client Name  ›</a></li>
						<li><a href="#">Another Client ›</a></li>
						<li><a href="#">Client McClientson ›</a></li>
					</ul>
				</div>
			</article>
		</section>
		
		<section class="about-skill" id="visual-design">
			<article class="skill-blurb">
				<p>TEST 4 amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
				<p>Bacon ipsum dolor sit amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
			</article>
			<article class="related-work">
					<div class="title">
						<h3>Projects</h3>
					</div>
					<div class="work-thumbs">
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
					</div>
				</article>
				<article class="related-clients">
					<div class="title">
						<h3>Clients</h3>
					</div>
					<div class="client-list">
						<ul>
							<li><a href="#">Client Name  ›</a></li>
							<li><a href="#">Another Client ›</a></li>
							<li><a href="#">Client McClientson ›</a></li>
						</ul>
					</div>
				</article>
		</section>
		
		<section class="about-skill" id="motion-graphics">
			<article class="skill-blurb">
				<p>TEST 5 amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
				<p>Bacon ipsum dolor sit amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
			</article>
			<article class="related-work">
					<div class="title">
						<h3>Projects</h3>
					</div>
					<div class="work-thumbs">
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
					</div>
				</article>
				<article class="related-clients">
					<div class="title">
						<h3>Clients</h3>
					</div>
					<div class="client-list">
						<ul>
							<li><a href="#">Client Name  ›</a></li>
							<li><a href="#">Another Client ›</a></li>
							<li><a href="#">Client McClientson ›</a></li>
						</ul>
					</div>
				</article>
		</section>
		
		<section class="about-skill" id="event-production">
			<article class="skill-blurb">
				<p>TEST 6 amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
				<p>Bacon ipsum dolor sit amet ground round tri-tip capicola ball tip pork belly ham. Beef sausage fatback pork loin beef ribs flank jowl chuck pork chop, biltong pork pastrami tri-tip. Sirloin flank sausage kielbasa, ribeye pork belly prosciutto. Ham hock filet mignon pork chop bacon ground round. Bacon andouille ribeye, sirloin drumstick ham hock kevin doner bresaola kielbasa. Boudin salami pork chop corned beef shankle pancetta chicken ball tip jowl. Turkey spare ribs cow sirloin.</p>
			</article>
			<article class="related-work">
					<div class="title">
						<h3>Projects</h3>
					</div>
					<div class="work-thumbs">
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
						<div class="project">
							<img src="images/related_work_thumb.png" alt="Project Name" />
							<a>Project Title ›</a>
						</div>
					</div>
				</article>
				<article class="related-clients">
					<div class="title">
						<h3>Clients</h3>
					</div>
					<div class="client-list">
						<ul>
							<li><a href="#">Client Name  ›</a></li>
							<li><a href="#">Another Client ›</a></li>
							<li><a href="#">Client McClientson ›</a></li>
						</ul>
					</div>
				</article>
		</section>
	</div>
	<% include includes/footer %>
	</div>

    <script src="../../javascripts/capabilities.js"></script>

</body>
</html>