<% include includes/header %>

	<div class="proj-login">
		<p>Don't take this the wrong way, but</p>
		<h1><%= title%></h1>
		
		<form method="post" action="/projects/login">
			<input type="password" placeholder="Enter Password" name="pw"/>
			<input type="hidden" name="project_slug" value="<%=project_slug %>">
			<button type="submit">Login</button>
		</form>
	</div>
<% include includes/footer %>