<% include includes/header %>

    <% for(var i = 0; i< project.textBlocks.length; i++){ %>
    <section class="project-text">
	<h2><%= project.textBlocks[i].title %></h2>
    	<p><%= project.textBlocks[i].text %></p>
    </section>
    <% } %>

    <!-- VIDEO -->
		<section class="project-vid">
			<video id="project-video-1" class="video-js vjs-project-page" controls>
				  <source src="http://player.vimeo.com/external/70661860.hd.mp4?s=76872865ceb8a72abc141822c8f44c2c" type='video/mp4' />
				  <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
			</video>
		</section>
		
<!-- TITLE / PAGINATION -->
		<section class="title-nav">
			<div class="previous-proj">
				<button class="left"></button>
				<p class="nav-label-prev">Previous Project</p>
			</div>
			<article class="project-meta">
				<h1>Project Title</h1>
				<p>Client Name  ::  City, State</p>
			</article>
			<div class="next-proj">
				<button class="right"></button>
				<p class="nav-label-next">Next Project</p>
			</div>
		</section>
		
<!-- TEXT BLOCK: FIRST WHITE -->
		<section class="project-text-first">
			<article class="left-col">
				<p>Pitchfork cray plaid chia readymade. Cornhole tattooed slow-carb authentic roof party Terry Richardson, photo booth twee. Scenester authentic Wes Anderson beard tote bag Helvetica. Organic Etsy Terry Richardson, cray Godard Wes Anderson seitan blog post-ironic squid. Fixie ethnic Etsy, Odd Future XOXO skateboard +1 next level Williamsburg banjo mustache Banksy. Hoodie literally polaroid trust fund, tote bag quinoa swag. Portland blog Bushwick Brooklyn.</p>
			</article>
			<article class="right-col">
				<p>Neutra Marfa synth, you probably haven't heard of them cray paleo 8-bit hoodie scenester fixie. Lo-fi craft beer kale chips try-hard typewriter. Aesthetic whatever iPhone, salvia Shoreditch wolf forage ethical butcher. Sartorial readymade trust fund tofu blog, tote bag distillery. Mixtape Terry Richardson biodiesel ennui master cleanse pork belly. Seitan stumptown DIY gluten-free, single-origin coffee try-hard cardigan blog roof party selvage. Keffiyeh tousled ugh jean shorts, fashion axe slow-carb hoodie vinyl.</p>
			</article>
		</section>
		
<!-- PHOTO BLOCK: MEDIUM MEDIUM -->
	<section class="photo-block-multi">
				<div class="img-wrap">
			<img src="images/med_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap">
			<img src="images/med_pic.png" alt="alt text" />
		</div>
	</section>
	
	<!-- PHOTO BLOCK: SMALL SMALL MEDIUM -->
	<section class="photo-block-multi">
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap med">
			<img src="images/med_pic.png" alt="alt text" />
		</div>
	</section>
	
		<!-- PHOTO BLOCK: SMALL MEDIUM SMALL -->
	<section class="photo-block-multi">
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap med">
			<img src="images/med_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
	</section>
	
			<!-- PHOTO BLOCK: MEDIUM SMALL SMALL -->
	<section class="photo-block-multi">
		<div class="img-wrap med">
			<img src="images/med_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
	</section>
	
	<!-- PHOTO BLOCK: SMALL SMALL SMALL SMALL -->
	<section class="photo-block-multi">
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
		<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
				<div class="img-wrap sm">
			<img src="images/small_pic.png" alt="alt text" />
		</div>
	</section>
	
<!-- PHOTO BLOCK: LARGE -->
	<section class="photo-block-big">
		<img src="images/big_pic.png" alt="alt text" class="big-pic" />
	</section>
	
<!-- TEXT BLOCK: WHITE WITH TITLE -->
		<section class="project-text-titled">
			<article class="title">
				<h3>Section Title</h3>
			</article>
			<article class="left-col">
				<p>Tousled Terry Richardson meggings chambray, gluten-free street art kitsch. Cray wolf bespoke freegan +1, fixie Etsy chia yr direct trade readymade locavore four loko. Aesthetic biodiesel paleo kitsch. Sustainable keytar asymmetrical, PBR&B chia Pinterest paleo. Pug twee before they sold out occupy. DIY Tonx keytar irony vinyl sriracha, raw denim cray flexitarian Intelligentsia authentic chambray Wes Anderson. Leggings pickled scenester, messenger bag beard Williamsburg keffiyeh skateboard seitan locavore pug plaid brunch mlkshk mustache.</p>
			</article>
			<article class="right-col">
				<p>Artisan McSweeney's quinoa Carles 8-bit, narwhal Williamsburg. Sartorial 8-bit direct trade craft beer. Hella gastropub Neutra, paleo banjo sustainable drinking vinegar disrupt 90's High Life direct trade Etsy shabby chic tote bag. Shabby chic fashion axe Portland beard. Actually small batch four loko, next level banh mi vegan you probably haven't heard of them ethnic. Keffiyeh wolf Brooklyn, dreamcatcher Shoreditch four loko flexitarian freegan leggings pork belly you probably haven't heard of them Vice salvia Portland. +1 bitters art party deep v.</p>
			</article>
		</section>
		
<!-- PHOTO BLOCK: LARGE -->
	<section class="photo-block-big">
		<img src="images/big_pic.png" alt="alt text" class="big-pic" />
	</section>
	
<!-- CAPABILITIES, TOOLS + TECH BLOCK -->
		<section class="list-block cap-tech">
			<article class="column-left">
				<article class="title yellow-header">
					<h3>Services</h3>
				</article>
				<article class="list light">
					<ul>
						<li><a href="#">Name of Capability ›</a></li>
						<li><a href="#">Another Capability ›</a></li>
						<li><a href="#">Name of Capability ›</a></li>
						<li><a href="#">Another Capability ›</a></li>
						<li><a href="#">Name of Capability ›</a></li>
						<li><a href="#">Another Capability ›</a></li>
						<li><a href="#">Name of Capability ›</a></li>
					</ul>
				</article>
			</article>
			<article class="column-right">
				<article class="title yellow-header">
					<h3>Tech + Tools</h3>
				</article>
				<article class="list light">
					<ul>
						<li>node.js</li>
						<li>Java</li>
						<li>Web Sockets</li>
						<li>Twitter</li>
						<li>Android</li>
						<li>Arduino</li>
						<li>Ultrasonic rangefinders</li>
						<li>Temperature sensors</li>
						<li>Soil moisture sensors</li>
						<li>Light sensors</li>
					</ul>
				</article>
				<article class="list light">
					<ul>
						<li>Motion sensors</li>
						<li>Capacitive sensors</li>
						<li>Plants</li>
						<li>Custom WiFly devices</li>
						<li>Wireless Web Cam</li>
						<li>UStream</li>
						<li>Nexus tables</li>
						<li>Feonic Invisible Speakers</li>
						<li>MongoDB</li>
					</ul>
				</article>										
			</article>
		</section>
		

<!-- PARTNERS, MORE INFO -->
	
	<section class="list-block partner-info">
			<article class="column-left">
				<article class="title">
					<h3>Partners</h3>
				</article>
				<article class="list">
					<ul>
						<li>Partner Name</li>
						<li>Partner Name</li>
						<li>Partner Name</li>
						<li>Partner Name</li>
						<li>Partner Name</li>
						<li>Partner Name</li>
					</ul>
				</article>
			</article>
			<article class="column-right">
				<article class="title">
					<h3>More Info</h3>
				</article>
				<article class="list">
					<ul>
						<li><a href="#">Link to an Article ›</a></li>
						<li><a href="#">Link to an Article ›</a></li>
						<li><a href="#">Link to an Article ›</a></li>
						<li><a href="#">Link to an Article ›</a></li>
						<li><a href="#">Link to an Article ›</a></li>
						<li><a href="#">Link to an Article ›</a></li>
						<li><a href="#">Link to an Article ›</a></li>
						<li><a href="#">Link to an Article ›</a></li>
					</ul>
				</article>								
			</article>
		</section>
	

<!-- PHOTO BLOCK: LARGE -->
	<section class="photo-block-big">
		<img src="images/big_pic.png" alt="alt text" class="big-pic" />
	</section>

<% include includes/footer-project %>

