<% include includes/header %>
	<!-- PORTFOLIO WRAP -->
	<div id="portfolio-wrap">
	
		<!-- INTRO VIDEO -->
		<section class="intro-vid">
			<video id="intro-video-1" class="video-js vjs-project-page" autoplay="autoplay" loop="true" muted>
            	<source src="http://player.vimeo.com/external/55448150.sd.mp4?s=acf0b9a82773e0ae95f7a0357b08d860" type="video/mp4">
                       Your browser does not support the video tag. </video>
			<div class="introLogo">
				<a href="/projects">
					<img src="/images/im_logo.png" alt="Incredible Machines"/>
				</a>
			</div>
		</section> <!-- end "video" -->
		
		<!-- PORTFOLIO -->
		<section id="portfolio">
			<% for (var i=0; i<projects.length; i++){ %>
			<article class="port-item">
				<a href="/projects/<%= projects[i].slug %>">
					<div class="poster-image">	
						<img src="<%= projects[i].thumbnail.path %>" alt="project title" />
					</div>
					<h2><%= projects[i].title %></h2>
				</a>
				<p><% for (var j=0; j<projects[i].clients.length; j++){ %>
					<%= projects[i].clients[j].name %><% if (j<projects[i].clients.length-1) { %>, <% } %>
			<% 	} %>
				</p>
			</article>
		<% 	} %>
		</section> <!-- end "portfolio" -->
	</div> <!-- end "portfolio wrap" -->
	<% include includes/footer %>
	<script src="/javascripts/projects.js"></script>
</body>
</html>