<% include includes/header %>

    <!-- VIDEO -->
		<section class="project-vid">
			<video id="project-video-1" class="video-js vjs-project-page" poster="" controls>
				  <source src="http://player.vimeo.com/external/77457100.hd.mp4?s=8ccf2b3c4d0af1c04ca48ea87335f154" type='video/mp4' />
				  <source src="" type='video/ogg' />
			</video> 
		</section>
		
	<% include includes/footer %>
	<script src="/javascripts/reel.js"></script>
</body>
</html>

