<% include includes/header %>
<section class="tech-form-wrap">	
	<h1><%= title %></h1>
	<section class="new-tech">
		<form enctype="multipart/form-data" action="/technologies/submit" method="post">
			<h3>Add New Technology</h3>
			<input name="name" class="field"  placeholder="Enter Title">
			<button type="submit">Add</button>
		</form>
	</section>
	
	<section class="current-tech">
		<h3>Current Technologies</h3>
		<% for(var i =0; i<technologies.length; i++){ %>
			<form enctype="multipart/form-data" action="/technologies/update" method="post" >
				<input type="text" name="name" class="field"  value="<%= technologies[i].name %>"/>
				<input type="hidden" name="_id" class="field"  value="<%= technologies[i]._id %>"/>
				<article class="btns">
					<button type="submit">Update</button>
					<button type="button" class="delete">Delete</button>
				</article>
			</form>
		<% } %>
	</section>
</section>

<% include includes/footer %>